#footer{
  text-align: center;
  clear: both;

  .footer-content {
    text-align-last: center;

    p {
      padding-top: 60px;
      font-size: $baseFont;
      font-weight: $baseWeight;
      text-align: left;
    }

  }
}
